Bottleneck
Brotli
brotlipy
certifi
cffi
charset-normalizer
click
colorama
cryptography
dash
Flask
Flask-Compress
idna
itsdangerous
Jinja2
MarkupSafe
mkl-fft
mkl-random
mkl-service
numexpr
numpy
packaging
pandas
plotly
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
requests
setuptools-scm
six
tabula-py
tenacity
tomli
urllib3
Werkzeug
win-inet-pton
wincertstore