ansi2html
argon2-cffi
asttokens
attrs
backcall
backports.functools-lru-cache
black
bleach
Bottleneck
Brotli
brotlipy
certifi
cffi
charset-normalizer
click
colorama
cryptography
dash
dataclasses
debugpy
decorator
defusedxml
entrypoints
executing
Flask
Flask-Compress
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-dash
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
platformdirs
plotly
prometheus-client
prompt-toolkit
pure-eval
pycparser
Pygments
pymongo
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
requests
retrying
Send2Trash
sip
six
stack-data
tabula
tenacity
terminado
testpath
tomli
tornado
traitlets
typed-ast
typing_extensions
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
win-inet-pton
wincertstore
zipp