Bottleneck
Brotli==1.0.9
certifi==2020.6.20
click==8.0.4
colorama==0.4.4
dash==2.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distro==1.7.0
Flask==2.0.3
Flask-Compress==1.11
gunicorn==20.1.0
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
numexpr
numpy
packaging
pandas
pymongo
pymongo[srv]
plotly==5.6.0
pyparsing
python-dateutil
pytz==2021.3
six
tabula-py==2.3.0
tenacity==8.0.1
Werkzeug==2.0.3
wincertstore==0.2